
@font-face {
	font-family: "BMDOHYEON";
	src: url('./font/BMDOHYEON_otf.otf');
}

@font-face {
	font-family: "BMJUA";
	src: url('./font/BMJUA_otf.otf');
}

* {
	font-family: BMDOHYEON, BMJUA, Ubuntu, Dosis, serif;
}

/**********************************
				HEADER SECTIOM
***********************************/
.ground-nav {
	height: 60px;
	background-color: grey;
	color: white;
	line-height: 60px;
}

.nav-title {
	font-size: 30px;
	text-align: left;
	padding-left: .5em;
}

.nav-title:visited, .nav-title:hover {
	color: white;
	text-decoration: none;
}

.header-div {
	background-color: lightgrey;
}


/**********************************
			GROUND-DISPLAY SECTIOM
***********************************/

.ground {
	background-color: #595959;
}

.ground-field {
	height: 650px;
	background-image: url('./photo/ground.jpg');
	background-size: 100% 650px;
	background-repeat: no-repeat;
	border-radius: 5px;
	margin-top: 1em;
	margin-bottom: 1em;
}

.away-field {
	border-right: 10px double grey;
}

.ground-title {
	color: #e6e6e6;
	margin-top: 1em;
}

.player-section {
	width: 6em;
	text-align: center;
	position: absolute;
	bottom: 0%;
	background-color: rgba(51, 51, 51, 0.6);
	color: #e6e6e6;
}

.sub-player-section {
	width: 6em;
	text-align: center;
	background-color: rgba(51, 51, 51, 0.6);
	color: #e6e6e6;
}

.player1 {
	width: 6em;
	height: 5em;
	bottom: 5%;
	right: 39%;
	position: absolute;
}

.player2 {
	width: 6em;
	height: 5em;
	bottom: 25%;
	right: 65%;
	position: absolute;
}

.player3 {
	width: 6em;
	height: 5em;
	bottom: 25%;
	right: 10%;
	position: absolute;
}

.player4 {
	width: 6em;
	height: 5em;
	bottom: 50%;
	right: 39%;
	position: absolute;
}

.player5 {
	width: 6em;
	height: 5em;
	bottom: 80%;
	right: 39%;
	position: absolute;
}

.player-sub {
	width: 6em;
	height: 5em;
	position: relative;
	margin-top: 1em;
	margin-left: 6em;
}

.awaysub-player {
	border: 5px solid red;
	background-color: white;
	width: 3em;
	height: 3em;
	position: relative;
	border-radius: 100%;
	background-size: cover;
	margin: auto;
	cursor: pointer;
}

.homesub-player {
	border: 5px solid blue;
	background-color: white;
	width: 3em;
	height: 3em;
	position: relative;
	border-radius: 100%;
	background-size: cover;
	margin: auto;
	cursor: pointer;
}

.goalkeepr {
	border: 5px solid yellow;
	background-color: white;
	width: 3em;
	height: 3em;
	right: 25%;
	position: absolute;
	border-radius: 100%;
	background-size: cover;
	cursor: pointer;
}

.away-player {
	border: 5px solid red;
	background-color: white;
	width: 3em;
	height: 3em;
	right: 25%;
	position: absolute;
	border-radius: 100%;
	background-size: cover;
	cursor: pointer;
}

.home-player {
	border: 5px solid blue;
	background-color: white;
	width: 3em;
	height: 3em;
	right: 25%;
	position: absolute;
	border-radius: 100%;
	background-size: cover;
	cursor: pointer;
}

.submember-div {
	padding-top: 2em;
}

/**********************************
			TEAM SECTIOM
***********************************/
.team-display {
	border: 2px solid lightgrey;
	border-radius: 10px;
	height: 13em;
	width: 100%;
}

.team-display:hover {
	opacity: 0.7;
}

.team-name {
	color: black;
	margin-bottom: 3em;
	text-align: center;
	font-family: 'BMJUA';
}

/**********************************
			TEAMLIST SECTIOM
***********************************/

.home-search-div {
	border: 4px solid lightgrey;
	border-radius: 5px;
	margin: 2em auto;
	text-align: left;
	margin-bottom: 4em;
}

.teamview-link {
	display: block;
}

.place-input {
	height: 2.5em;
	margin-bottom: 1em;
}

.teamlist-button {
	font-family: BMDOHYEON;
	background-color: #ff9999;
	border-radius: 5px;
	outline-style: none;
	border: none;
	width: 90%;
	height: 3.5em;
	margin: 1.5em auto 0;
	display: block;
	line-height: 3em;
}

.search-div {
	border-right: 1px solid lightgrey;
}

.search-label {
	margin-top: .7em;
	margin-bottom: .7em;
}

/**********************************
			Authentication SECTIOM
***********************************/

.auth-view-body {
	background-image: url(./photo/real-madrid.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: lightgrey;
	min-height: 50em;
}

.warning-text {
	color: red;
}

.auth-div {
	border: 1px solid grey;
	border-radius: 10px;
	margin-top: 5em;
	background-color: rgba(179, 179, 179, 0.7);
}

.auth-title {
	margin-top: 1em;
	margin-bottom: 1em;
}

.auth-button {
	margin-bottom: 1.5em;
	width: 100%;
	font-family: BMDOHYEON;
}

.auth-input {
	width: 100%;
}

.auth-input-div {
	margin-bottom: 2em;
}

/**********************************
			GAME REGISTER SECTIOM
***********************************/

.gameRegister-container {
	border: 3px solid #cccccc;
	padding-bottom: 0.8em;
	border-radius: 7px 7px 0 0;
}

.gameRegister-title {
	font-size: 1.2em;
	margin-top: 0.8em;

}

.gameRegister-button-box {
	background-color: lightgrey;
	height: 5em;
	border-radius: 0 0 7px 7px;
}

.gameRegister-button {
	font-family: BMDOHYEON;
	background-color: #ff9999;
	border-radius: 5px;
	outline-style: none;
	border: none;
	width: 15em;
	height: 3em;
	margin: 1em auto;
	display: block;
}

.registerImgPreview {
  text-align: center;
  margin: 0 auto 5px;
  height: 13em;
  width: 70%;
  border: 5px solid gray;
	line-height: 13em;
}

.registerImgPreview:hover {
	cursor: pointer;
}

.registerImgPreview img {
	width: 100%;
	height: 100%;
}

.gameRegister-result {
	color: #666666;
	font-family: 'BMJUA';
	font-size: 1.1em;
}


/**********************************
			PROFILEVIEW SECTIOM
***********************************/

.profileView-container {
	border: 2px solid #cccccc;
	border-radius: 7px 7px 0 0;
}

.profile-insideContainer {
	border: 2px solid #cccccc;
	padding-bottom: 1.5em;
	color: #666666;
}

.profileView-header {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 11em;
  width: 90%;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
	line-height: 10em;
}

.imgPreview:hover {
	cursor: pointer;
}

.imgPreview img {
	width: 100%;
	height: 100%;
}

input[type=file] {
	display: none;
}

.profile-title {
	font-size: 1.1em;
	margin-bottom: 0.7em;
	margin-top: 1.2em;
	color: black;
}

/*.profile-input {
	border: 1px solid red;
	font-family: BMDOHYEON;
}*/

.profile-save-button {
	margin-top: 2.1em;
}

.profileCheckView-title {
	font-size: 1.2em;
	margin-top: 1.5em;
	margin-bottom: 1.2em;
	color: black;
}

.profileCheckView-title-imgage {
  text-align: center;
  margin: 5px 15px;
  height: 12em;
  width: 90%;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
	line-height: 10em;
}

.profileCheckView-title-imgage img {
	width: 100%;
	height: 100%;
}

.profile-result {
	font-family: BMJUA;
	font-size: 1.1em;
}


/**********************************
			MODAL SECTIOM
***********************************/

.modal-body {
  height: 100%;
  vertical-align: middle;
	overflow-y: auto;
	position: absolute;
}

.modal-image {
	height: 13em;
	width: 13em;
	background-size: cover;
	margin: auto;
	border-radius: 10px;

}

.modal-title {
	font-size: 1.2em;
	/*margin-bottom: 1em;*/
}

.modal-info {
	color: grey;
	margin-top: .3em;
	margin-bottom: 1em;
	font-family: 'BMJUA';
	font-size: 1.1em;
}
